BODY {
	MARGIN: 0px; FONT: 14px Verdana; BACKGROUND: url(bd_bg.png) #3c7faf repeat-x 50% top; COLOR: #07519a
}
A {
	COLOR: #07519a; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
A IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
FORM {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#wrap {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-LEFT: 10px; WIDTH: 958px; PADDING-RIGHT: 10px; BACKGROUND: #fff; PADDING-TOP: 0px
}
#header {
	BORDER-BOTTOM: #ace 1px solid; PADDING-BOTTOM: 8px; ZOOM: 1; OVERFLOW: auto
}
#elogin {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; FONT: 12px/29px Verdana; BACKGROUND: #ebf3fb; HEIGHT: 29px; BORDER-TOP: #ace 1px solid; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 0px
}
#elogin .r {
	FLOAT: right
}
#banner {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
#logo {
	WIDTH: 128px; BACKGROUND: url(logo.gif); HEIGHT: 70px
}
#logo A {
	LINE-HEIGHT: 200px; DISPLAY: block; HEIGHT: 70px; OVERFLOW: hidden
}
.mcon {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; MARGIN: 8px 5px 0px; FLOAT: right; HEIGHT: 60px; OVERFLOW: hidden; BORDER-TOP: #ace 1px solid; BORDER-RIGHT: #ace 1px solid
}
#search {
	PADDING-TOP: 8px
}
.src FORM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#tags {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; HEIGHT: 25px; PADDING-TOP: 0px
}
#tags LI {
	POSITION: relative; WIDTH: 67px; BACKGROUND: url(cline.png) no-repeat right center; FLOAT: left; HEIGHT: 25px
}
#tags LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 67px; FLOAT: left
}
#tags LI A:hover {
	TEXT-DECORATION: none
}
#tags LI A.focu {
	POSITION: absolute; WIDTH: 68px; BACKGROUND: url(tag.png) #0e6dbc no-repeat center 50%; HEIGHT: 30px; COLOR: #fff; TOP: 0px; FONT-WEIGHT: bold; LEFT: -1px
}
.srchbox {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #edf6ff; HEIGHT: 46px; BORDER-TOP: #ace 1px solid; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 0px
}
.srchbox IMG {
	MARGIN-TOP: 7px; FLOAT: left
}
.src LABEL {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; MARGIN: 11px 0px 0px 8px; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden; BORDER-TOP: #ace 1px solid; BORDER-RIGHT: #ace 1px solid
}
.src .text {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; WIDTH: 220px; PADDING-RIGHT: 3px; FONT: 14px/22px Verdana; BORDER-TOP-STYLE: none; FLOAT: left; HEIGHT: 22px; BORDER-LEFT-STYLE: none; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 0px
}
.src .button {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; FONT: bold 14px/22px Verdana; BORDER-TOP-STYLE: none; BACKGROUND: url(btn_bg.png) #017ac9; FLOAT: left; HEIGHT: 22px; COLOR: #fff; BORDER-LEFT-STYLE: none
}
.src .r {
	LINE-HEIGHT: 46px; PADDING-LEFT: 10px; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
#baidu9 FORM {
	PADDING-TOP: 12px
}
#baidu9 INPUT {
	FONT: 12px Verdana; FLOAT: none
}
#baidu9 SELECT {
	FONT: 12px Verdana
}
#baidu9 .txt {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; WIDTH: 130px; PADDING-RIGHT: 3px; HEIGHT: 18px; BORDER-TOP: #ace 1px solid; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 2px
}
#baidu9 .button {
	WIDTH: 45px; MARGIN-BOTTOM: 0px
}
#baidu9 IMG {
	MARGIN-TOP: 5px; MARGIN-RIGHT: 8px
}
#wth_f {
	BORDER-BOTTOM: #ace 1px solid; POSITION: absolute; FILTER: alpha(opacity=93); BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 500px; PADDING-RIGHT: 8px; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: #ace 1px solid; TOP: 22px; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 8px; LEFT: 120px; moz-opacity: .93; opacity: 0.93
}
.l {
	FLOAT: left
}
.box6 {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; ZOOM: 1; MARGIN-BOTTOM: 5px; BACKGROUND: #edf6ff; FONT-SIZE: 12px; OVERFLOW: auto; BORDER-TOP: #ace 1px solid; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 8px
}
.box6 STRONG {
	FONT-SIZE: 14px
}
.f18 {
	FONT: bold 14px/22px Verdana
}
.wea60 {
	MARGIN: 0px 10px
}
.box7 {
	CLEAR: both
}
.box7 P {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 5px; BORDER-TOP-COLOR: #ace; MARGIN: -5px 0px 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT: 12px/18px Verdana; BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 5px
}
.box7 P LABEL {
	COLOR: #00f
}
#main {
	CLEAR: both; PADDING-TOP: 5px
}
.sr {
	FLOAT: right
}
.sl {
	FLOAT: left
}
.sbox {
	WIDTH: 200px
}
.scbox {
	WIDTH: 168px; OVERFLOW: hidden
}
.bcbox {
	WIDTH: 580px; MARGIN-LEFT: 5px
}
.bbox {
	WIDTH: 785px
}
.bd {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; MARGIN-BOTTOM: 5px; BORDER-TOP: #ace 1px solid; BORDER-RIGHT: #ace 1px solid
}
.bd H3 {
	PADDING-BOTTOM: 0px; MARGIN: -1px 0px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT: bold 14px/28px Verdana; BACKGROUND: url(th_bg.png) #e6f1fb; HEIGHT: 27px; COLOR: #07519a; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.bd H4 {
	PADDING-BOTTOM: 0px; MARGIN: -1px 0px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT: bold 14px/28px Verdana; BACKGROUND: url(th_bg.png) #e6f1fb; HEIGHT: 27px; COLOR: #07519a; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.bd H3 SPAN {
	FLOAT: left; COLOR: #07519a
}
.bd H3 EM {
	FONT: 14px/27px Verdana; FLOAT: right
}
.bd H3 EM IMG {
	MARGIN: 6px 8px 0px 0px
}
.bd H3 A:hover {
	TEXT-DECORATION: none
}
.bdora H3 SPAN {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #ace 1px solid; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 0px
}
#hotm {
	BORDER-BOTTOM: #bbe1a6 1px solid; BORDER-LEFT: #bbe1a6 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; WIDTH: 731px; PADDING-RIGHT: 10px; WHITE-SPACE: nowrap; MARGIN-BOTTOM: 0px; FLOAT: left; HEIGHT: 30px; COLOR: #080; OVERFLOW: hidden; BORDER-TOP: #bbe1a6 1px solid; BORDER-RIGHT: #bbe1a6 1px solid; PADDING-TOP: 0px
}
#hotm A {
	COLOR: #080
}
#links {
	BORDER-BOTTOM: #eaa 1px solid; BORDER-LEFT: #eaa 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: auto; BORDER-TOP: #eaa 1px solid; BORDER-RIGHT: #eaa 1px solid; PADDING-TOP: 0px
}
#links H4 {
	BACKGROUND: url(th_bg_r.png) #fbe5e5; COLOR: #c00
}
#links UL {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 26px; PADDING-LEFT: 0px; WIDTH: 194px; PADDING-RIGHT: 0px; FLOAT: left; MARGIN-LEFT: 2px; PADDING-TOP: 4px
}
#links LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; WIDTH: 81px; PADDING-RIGHT: 8px; FLOAT: left; PADDING-TOP: 0px
}
#tools {
	BORDER-BOTTOM: #bbe1a6 1px solid; BORDER-LEFT: #bbe1a6 1px solid; MARGIN: 0px; FONT-SIZE: 12px; BORDER-TOP: #bbe1a6 1px solid; BORDER-RIGHT: #bbe1a6 1px solid
}
#tools A {
	COLOR: #080
}
#tools H3 {
	MARGIN-TOP: 0px; FONT: bold 12px/27px Verdana; BACKGROUND: url(th_bg_g.png); HEIGHT: 26px; COLOR: #61ad33; OVERFLOW: hidden
}
#tools H3 EM {
	FONT: 12px/27px Verdana
}
#tools H3 EM A {
	COLOR: #333
}
#tools H3 SPAN {
	BORDER-BOTTOM: #bbe1a6 1px solid; BORDER-LEFT: #bbe1a6 1px solid; LINE-HEIGHT: 24px; MARGIN-TOP: 4px; COLOR: #61ad33; BORDER-TOP: #bbe1a6 1px solid; BORDER-RIGHT: #bbe1a6 1px solid
}
#tools UL {
	HEIGHT: 230px; OVERFLOW: hidden; PADDING-TOP: 6px
}
#tools LI {
	LINE-HEIGHT: 26px; PADDING-LEFT: 10px; WIDTH: 86px; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden
}
#siteclass {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; WIDTH: 166px; PADDING-RIGHT: 0px; BACKGROUND: #f1f8ff; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 0px
}
#siteclass H4 {
	BORDER-BOTTOM-COLOR: #ace; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 27px; BORDER-LEFT-STYLE: none
}
#siteclass .con {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 162px; PADDING-RIGHT: 0px; FLOAT: left; MARGIN-LEFT: 2px; PADDING-TOP: 5px
}
#siteclass LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 3px; WIDTH: 75px; PADDING-RIGHT: 3px; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#sitem {
	WIDTH: 578px; MARGIN-LEFT: 5px; OVERFLOW: hidden
}
#sitem H3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#sitem H3 SPAN {
	BORDER-LEFT-STYLE: none
}
#sitem SPAN.blur {
	BACKGROUND: none transparent scroll repeat 0% 0%; CURSOR: pointer; FONT-WEIGHT: normal
}
#sitem .con {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 26px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; HEIGHT: 287px; PADDING-TOP: 5px
}
#stm0 {
	POSITION: relative
}
#stm3 {
	POSITION: relative
}
#fsrc {
	POSITION: absolute; TOP: -26px; RIGHT: 0px
}
.del_c {
	POSITION: absolute; TOP: -22px; RIGHT: 8px
}
#fsrc SPAN {
	BORDER-BOTTOM: #ace 0px solid; BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT: bold 14px/25px Verdana; BACKGROUND: url(cst_th.gif) #1371be repeat-x 0px -1px; FLOAT: left; HEIGHT: 25px; COLOR: #fff; BORDER-TOP: #ace 0px solid; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 0px
}
#fsrc INPUT {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 0px; MARGIN: 2px 2px 0px; PADDING-LEFT: 3px; WIDTH: 177px; PADDING-RIGHT: 3px; FONT: 12px/17px Verdana; FLOAT: left; HEIGHT: 17px; BORDER-TOP: #ace 1px solid; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 2px
}
#sitem UL {
	ZOOM: 1; BACKGROUND: url(sitem_bg.gif); OVERFLOW: auto
}
#sitem DL {
	ZOOM: 1; BACKGROUND: url(sitem_bg.gif); OVERFLOW: auto
}
#sitem LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 100px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 3px; WHITE-SPACE: nowrap; BACKGROUND: url(li_icon.gif) no-repeat 4px center; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 0px
}
#sitem LI EM {
	FONT-STYLE: normal; COLOR: #f00
}
#sitem A {
	TEXT-DECORATION: none
}
#sitem A:hover {
	BACKGROUND: #ff6
}
.htop {
	HEIGHT: 26px
}
#sitem .htop LI {
	WIDTH: 128px
}
#stm3 LI {
	WIDTH: 128px
}
#sitem DT {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 70px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 26px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#sitem DD {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: 150px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 23px; OVERFLOW: hidden; PADDING-TOP: 3px
}
#sitem DD IMG {
	MARGIN: 0px 2px -3px 0px
}
.hbot {
	CLEAR: both
}
#coolsite {
	PADDING-BOTTOM: 3px; MARGIN-TOP: -5px; PADDING-LEFT: 3px; WIDTH: 777px; PADDING-RIGHT: 3px; BACKGROUND: #e3f1ff; OVERFLOW: hidden; PADDING-TOP: 3px
}
#coolsite H3 {
	MARGIN: -4px -3px 3px; BACKGROUND: url(cst_th.gif) #1e78c1; COLOR: #fff
}
#coolsite UL {
	BACKGROUND: url(link_bg.gif); FLOAT: left
}
#coolsite LI {
	PADDING-LEFT: 8px; WIDTH: 769px; FLOAT: left; HEIGHT: 28px; OVERFLOW: hidden
}
#coolsite LI STRONG A {
	LINE-HEIGHT: 18px; WIDTH: auto; FONT-WEIGHT: normal
}
#coolsite LI EM {
	FONT-STYLE: normal; FLOAT: right
}
#coolsite LI EM A {
	WIDTH: auto; MARGIN-RIGHT: 8px
}
#coolsite LI A {
	LINE-HEIGHT: 18px; MARGIN-TOP: 7px; WIDTH: 78px; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 15px
}
#monc {
	BORDER-BOTTOM: #ace 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; PADDING-TOP: 0px
}
.bzt {
	BORDER-BOTTOM: #eaa 2px solid; BORDER-LEFT: #eaa 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; FONT: 12px/24px Verdana; MARGIN-BOTTOM: 5px; BACKGROUND: #fdf6f6; HEIGHT: 24px; COLOR: #c00; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #eaa 1px solid; BORDER-RIGHT: #eaa 1px solid; PADDING-TOP: 0px
}
.bzt EM {
	FONT-STYLE: normal; FLOAT: right
}
.bzt A {
	COLOR: #c00
}
#footer {
	BORDER-BOTTOM: #7fb1e5 3px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 11px/18px Verdana; PADDING-TOP: 8px
}
#footer .link {
	LINE-HEIGHT: 22px; MARGIN: auto; WIDTH: 510px; BACKGROUND: url(sitem_bg.gif) repeat-x 50% bottom
}
#money .bn_key {
	BORDER-BOTTOM: #eaa 1px solid; BORDER-LEFT: #eaa 1px solid; BORDER-TOP: #eaa 1px solid; BORDER-RIGHT: #eaa 1px solid
}
.bn_key UL {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 451px; PADDING-RIGHT: 0px; FONT: 12px Verdana; BACKGROUND: url(bn_key_bg.png) #fdf4f4; HEIGHT: 55px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 3px
}
.bn_key LI {
	LINE-HEIGHT: 18px; WIDTH: 64px; WHITE-SPACE: nowrap; FLOAT: left
}
.bn_key A {
	COLOR: #c00
}
#tophot {
	MARGIN: -5px 0px 0px 5px; WIDTH: 600px; BACKGROUND: url(tophot.gif) no-repeat 1px 0px; FLOAT: left; HEIGHT: 67px; FONT-SIZE: 12px; OVERFLOW: hidden
}
#tophot DL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 110px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 6px
}
#tophot DT {
	PADDING-LEFT: 30px; FONT: bold 12px/24px Verdana; MARGIN-BOTTOM: 2px
}
#tophot DD {
	TEXT-ALIGN: center; LINE-HEIGHT: 15px; WIDTH: 55px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
#tophot UL {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; PADDING-LEFT: 8px; WIDTH: 114px; PADDING-RIGHT: 8px; FLOAT: right; PADDING-TOP: 12px
}
#tophot LI {
	TEXT-ALIGN: center; WIDTH: 57px; FLOAT: left
}
.hot1 {
	COLOR: #c00
}
.hot1 A {
	COLOR: #c00
}
.hot1 A:hover {
	COLOR: #c00
}
.hot2 {
	COLOR: #060
}
.hot2 A {
	COLOR: #060
}
.hot2 A:hover {
	COLOR: #060
}
.hot3 {
	COLOR: #359
}
.hot3 A {
	COLOR: #359
}
.hot3 A:hover {
	COLOR: #359
}
.ggsrcbox {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 220px; PADDING-RIGHT: 11px; FLOAT: right; PADDING-TOP: 3px
}
.ggsrcbox INPUT {
	FLOAT: left; MARGIN-RIGHT: 2px
}
.ggsrcbox .txt {
	BORDER-BOTTOM: #448cee 1px solid; BORDER-LEFT: #448cee 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; WIDTH: 166px; PADDING-RIGHT: 3px; FONT: 12px/15px Verdana; HEIGHT: 16px; BORDER-TOP: #448cee 1px solid; BORDER-RIGHT: #448cee 1px solid; PADDING-TOP: 1px
}
